@media screen {
  .print-content {
    display: none;
  }
}
@media print {
  html,
  body {
    color: black;
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    page-break-after: avoid;
    page-break-before: avoid;
  }
}

.print-content {
  width: 400px;
}
#DeliveryTicket .ticket-content {
  margin: 20px;
}

.ticket-header h3,
.ticket-header h4,
.ticket-footer h3,
.ticket-footer h4,
.ticket-footer h5 {
  text-align: center;
}

#DeliveryTicket .qtty-persons,
#DeliveryTicket .total {
  display: flex;
  font-size: 1rem;
  color: black;
}

#DeliveryTicket .table-item {
  display: flex;
  font-size: 0.9rem;
  color: black;
}

#DeliveryTicket .total span {
  width: 200px;
}

.total {
  margin-top: 10px;
}

#DeliveryTicket .qtty-persons span {
  width: 200px;
}
