.oficina-form .oficina-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 8vh 1fr;
}

.oficina-form header {
  grid-column-start: 1;
  grid-column-end: 4;

  font-size: 2rem;
  font-weight: bold;
}

.oficina-form main {
  grid-column-start: 1;
  grid-column-end: 4;

  height: 100%;
  padding: 10px 0 0;
}

.oficina-form .form-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.oficina-form main label {
  display: block;
  margin-bottom: 0;
  font-weight: bold;
}

.oficina-form main input,
select {
  font-size: 0.9rem;
  height: 32px;
  border-radius: 8px;
  box-shadow: 4px 4px 0 0 rgb(0, 0, 0, 0.6);
}

.oficina-form .input-txt {
  width: 100%;
}

.oficina-form .input-cep,
.input-num,
.input-tel {
  width: 50%;
}

@media (max-width: 1100px) {
  .oficina-form .form-columns {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .oficina-form .form-columns {
    grid-template-columns: 1fr;
  }
}

.oficina-form footer {
  grid-column-start: 1;
  grid-column-end: 4;

  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-top: 30px;
  justify-items: center;
}

.oficina-form footer button {
  width: 55%;
  border: 0;
  background: rgb(53, 53, 253);
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  cursor: point;
  transition: background 0.5s;
}

.oficina-form footer button:hover {
  background: rgb(0, 0, 78);
}
