.container-shopping-list-categ {
  padding: 69px 20px 250px;
}
#shopping-list-categ .img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid grey;
  background-color: white;
  box-shadow: 1px 2px 4px #000;
  border-radius: 5px;
  /* width: 70%; */
}
#shopping-list-categ .img-container img {
  display: inline-block
}

#shopping-list-categ header {
  height: 90px;
  width: 100%;
}

#shopping-list-categ .products-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  list-style: none;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  #shopping-list-categ .products-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 850px) {
  #shopping-list-categ .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 700px) {
  #shopping-list-categ .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  #shopping-list-categ .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

#shopping-list-categ .product {
  height: 200px;
  max-width: 180px;
  min-width: 180px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
  margin-bottom: 5px;
  box-shadow: 1px 2px 4px #000;
}
#shopping-list-categ .product .header {
  height: 96px;
  background-color: #ffffff;
  text-align: center;
}
#shopping-list-categ .product hr {
  margin: 5px 0px !important;
  border: 1px solid #b9b9b9;
}
#shopping-list-categ .product img {
  height: 100%;
}
#shopping-list-categ .product .title {
  font-size: 0.8rem;
  font-weight: bold;
  color: #000070;
}
#shopping-list-categ .product .price-line {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: red;
}
#shopping-list-categ .product .price {
  font-size: 0.8rem;
  font-weight: bold;
  color: #000000;
}
#shopping-list-categ .arrow-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100fr;
  width: 100px;
  padding: 10px;
  margin-right: 15px;
  border-radius: 8px;
  font-size: 0.8rem;
}
#shopping-list-categ .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  box-shadow: 0 4px 4px #000;
  border: 1px solid;
  font-size: 3rem;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}
#shopping-list-categ .arrow-text {
  margin-top: 20px;
  font-size: 0.9rem;
}
