#loading {
  padding: 20px 5px;
}

#category {
  /* margin: 0 auto; */
  padding: 70px 10px;
  max-width: 1200px;
}



#category .header {
  background-color: steelblue;
}
#category .header, .buttons {
  border-left: 1px solid #90a4ae;
  border-right: 1px solid #90a4ae;
  border-bottom: 1px solid #90a4ae;
  padding: 8px 20px;
}
#category .header-text {
  font-size: 1.4rem;
  color: white;
}
#category .buttons {
  display: flex;
  flex-direction: row;
  background-color: blanchedalmond;
  padding-top: 15px;
  padding-bottom: 13px;
}
#category .button {
  border: 1px solid #cecece;
  width: 160px;
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: 0 3px 3px #000;
  background-color:#78909c;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 4px;
}
#category .button:hover {
  background-color: navy;
}



#category .btnMais {
  position: fixed;
  float: bottom;
  bottom: 65px;
  right: 15px;
  z-index: 100;
}
#category .btnMais {
  display: inline-block;
}
#category .btnCircular {
  border-radius: 50%;
  box-shadow: 0 4px 4px #000;
  font-size: 20px;
  padding: 15px;
  color: white;
  background-color: blue;;
}
#category .btnCircular:hover {
  background-color: #2979ff;
}

#category .category-form {
  width: 100%;
  border: 1px solid grey;
  /* background: #fff; */
  /* background: rgba(228, 226, 226, 0.891); */
  /* box-shadow: 0 0 6px 0; */
  /* border-radius: 6px; */
  /* padding: 20px 20px 30px; */
  /* color: #333; */
}

#category .category-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;

  /* display: flex;
  flex-wrap: wrap;
  gap: 20px; */
}

#category #loading h5 {
  color: red;
}

@media (max-width: 1000px) {
  #category .category-list ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  #category .category-list ul {
    grid-template-columns: 1fr;
  }
}

.category-list-header {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 8px; */
  font-size: 1.8rem;
  border: 1px solid grey;
}

.search-bar {
  cursor: pointer;
}

.search-bar .button-search {
  margin-right: 18px;
}

/* .search-input { */
  /* display: flex; */
  /* justify-content: flex-end; */
  /* height: 38px; */
  /* margin-bottom: 20px; */
  /* border: 1px solid grey; */
/* } */

.search-input .input {
  width: 350px;
  border-radius: 10px;
  font-weight: bold;
}

.search-cancel {
  margin-left: 15px;
  margin-top: 7px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
