.container-shopping-list {
  padding: 69px 3%;
}
#shopping-list .main-content {
  margin-bottom: 260px;
}
#shopping-list .img-container {
  border: 1px solid grey;
  background-color: white;
  box-shadow: 1px 2px 4px #000;
  border-radius: 5px;
  width: 100%;
  /* max-width: 1280px; */
}
#shopping-list .img-container img {
  display: inline-block;
}
#shopping-list header {
  height: 50px;
  width: 100%;
}

#shopping-list .categories {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;  
  justify-content: space-between;
  flex-wrap: wrap;
}

#shopping-list .category {
  text-align: center;
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: 3px 5px 5px navy;
  margin-top: 10px; 
  padding: 5px;
  width: 130px;
  height: 30px; 
  cursor: pointer;
  font-size: 0.8rem;
}

#shopping-list .category-row {
  overflow-x: auto;
  margin-bottom: 10px;
  max-inline-size: 1280px;
  margin: 0 0 20px;
}
#shopping-list .products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-inline-size: 1280px;
  margin: 0 auto;
}
#shopping-list .product {
  height: 200px;
  max-width: 180px;
  min-width: 180px;
  padding: 10px;
  margin-right: 15px;
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
  margin-bottom: 5px;
  box-shadow: 1px 2px 4px #000;
}
#shopping-list .product .header {
  height: 96px;
  background-color: #ffffff;
  text-align: center;
}
#shopping-list .product img {
  height: 100%;
}
#shopping-list .product hr {
  margin: 5px 0px !important;
  border: 1px solid #b9b9b9;
}
#shopping-list .product .title {
  font-size: 0.8rem;
  font-weight: bold;
  color: #000070;
}
#shopping-list .product .price-line {
    font-size: 0.8rem;
    text-decoration: line-through;
    color: red;
}
#shopping-list .product .price {
  font-size: 0.8rem;
  font-weight: bold;
  color: #000000;
}
#shopping-list .arrow-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100fr;
  width: 100px;
  padding: 10px;
  margin-right: 15px;
  border-radius: 8px;
  font-size: 0.8rem;
}
#shopping-list .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  box-shadow: 0 4px 4px #000;
  border: 1px solid;
  font-size: 3rem;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}
#shopping-list .arrow-text {
  margin-top: 20px;
  font-size: 0.9rem;
}
#shopping-list .page-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0;
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 240px;
  background-color: silver;
}

@media (min-width: 1300px) {
  .container-shopping-list {
    padding: 69px 8% 40px;
  }
}
@media (min-width: 1500px) {
  .container-shopping-list {
    padding: 69px 13% 40px;
  }
}
@media (min-width: 1600px) {
  .container-shopping-list {
    padding: 69px 15% 40px;
  }
}
@media (min-width: 1800px) {
  .container-shopping-list {
    padding: 69px 19% 40px;
  }
}
@media (min-width: 2200px) {
  .container-shopping-list {
    padding: 69px 27% 40px;
  }
}
@media (min-width: 2600px) {
  .container-shopping-list {
    padding: 69px 27% 40px;
  }
}
@media (min-width: 2800px) {
  .container-shopping-list {
    padding: 69px 30% 40px;
  }
}
@media (min-width: 2900px) {
  .container-shopping-list {
    padding: 69px 30% 40px;
  }
}
@media (min-width: 3100px) {
  .container-shopping-list {
    padding: 69px 33% 40px;
  }
}
@media (min-width: 3300px) {
  .container-shopping-list {
    padding: 69px 35% 40px;
  }
}
@media (min-width: 3400px) {
  .container-shopping-list {
    padding: 69px 37% 40px;
  }
}