.settings-app-banner-container {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 10px;
  font-size: 0.8rem;
}

