#loading {
  padding: 20px 5px;
}

#oficinas {
  max-width: 1600px;
  margin: 0 auto;
  padding: 100px 5px;
}

#oficinas .btnMais {
  position: fixed;
  float: bottom;
  bottom: 35px;
  right: 15px;
  z-index: 100;
}
#oficinas .btnMais {
  display: inline-block;
}
#oficinas .btnCircular {
  border-radius: 50%;
  font-size: 20px;
  padding: 15px;
}

#oficinas .oficina-form {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.9);
  border-radius: 12px;
  padding: 20px 20px 30px;
  color: #333;
}

#oficinas .oficina-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
}

#oficinas #loading h5 {
  color: yellow;
}

@media (max-width: 1000px) {
  #oficinas .oficina-list ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  #oficinas .oficina-list ul {
    grid-template-columns: 1fr;
  }
}

.oficina-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 1.8rem;
}

.search-bar {
  cursor: pointer;
}

.search-bar .button-search {
  margin-right: 18px;
}

.search-input {
  display: flex;
  justify-content: flex-end;
  height: 38px;
  margin-bottom: 20px;
}

.search-input .input {
  width: 350px;
  border-radius: 10px;
  font-weight: bold;
}

.search-cancel {
  margin-left: 15px;
  margin-top: 7px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
