.order-confirmation-container {
  padding: 80px 20px 270px;
}


#orderConfirmation .header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

#orderConfirmation .back-button {
  position: absolute;
  left: 0;
  top: 80px;
  font-size: 66px;
  font-weight: bold;
  cursor: pointer;
}

#orderConfirmation .header-title-box {
  background-color: black;
  width: 69%;
  min-width: 400px;
  padding: 10px;
  border-radius: 20px;
}

#orderConfirmation .header-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}


#orderConfirmation .boxes-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

#orderConfirmation .box {
  width: 70%;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 20px;
  box-shadow: 0 4px 4px #000;
}

#orderConfirmation .box-title {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 1.6rem;
  font-weight: bolder;
  color: darkblue;
}

#orderConfirmation .box-content {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
}
