.menu {
  margin-top: 70px;
}

.logged-user {
  color: wheat;
}

.navbar-brand {
  font-size: 1.7rem;
}

.btn-logout {
  padding: 3px 13px 3px 13px;
  border-radius: 12px;
  background: wheat;
  font-size: 0.8rem;
}
